@import "tailwindcss";
/* main.css */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
